/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-kv_moon_w {
  background-image: url(../img/sprite.4b46b468.png);
  background-position: -81px 0px;
  width: 47px;
  height: 53px;
}
.icon-kv_sun_w {
  background-image: url(../img/sprite.4b46b468.png);
  background-position: 0px 0px;
  width: 81px;
  height: 81px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-kv_moon_w {
    background-image: url(../img/sprite@2x.f8ac8752.png);
    background-size: 128px 81px;
  }
  .icon-kv_sun_w {
    background-image: url(../img/sprite@2x.f8ac8752.png);
    background-size: 128px 81px;
  }
}
