@import "normalize";
@import "./folder/car";
@import "sprite";


/* prefix */
.test {
	opacity: 1;
}

a {
    display: flex;
    border-radius: 10px;
}

a {
    -webkit-border-radius: 5px;
            border-radius: 5px;
}



/* precss */
$blue: #056ef0;
$column: 200px;

.menu {
    width: calc(4 * $column);
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
		margin: 10px;
    }
}

.menu_link {
    background: $blue;
    width: $column;
}

@for $i from 1 to 3 {
    .b-$i { width: $(i)px; }
}

@each $icon in (foo, bar, baz) {
    .icon-$(icon) {
        background: url('icons/$(icon).png');
    }
}


@define-mixin icon $name {
    padding-left: 16px;

    &::after {
        content: "";
        background-url: url(/icons/$(name).png);
    }
}

.search {
    @mixin icon search;
}


@define-extend bg-green {
    background: green;
}

.notice--clear {
    @extend bg-green;
}

.phone {
  width: 100px;
  &.text {
  	font-size: 12px;
  }
  &:hover, 
  &:active {
  	color: red;
  }
}


/* assets */
/*
body {
  background: resolve('action_2_w.png');
  width: width('action_2_w.png');
  height: height('action_2_w.png');
}

body {
  background: inline('action_2_w.png');
}
*/

/* at-2x */
.logo {
  background: red resolve('action_2_w.png') no-repeat 0 0 at-2x;
  width: 200px;
  height: 200px;
}


/* sprite */
.test-sprite {
  background: red url('../img/sprite/kv_sun_w.png') no-repeat 0 0;
}

.test-sprite-2x { 
  background: url('../img/kv_sun_w@2x.png') no-repeat 0 0;
}


.test-sprite-moon {
  background: red resolve('sprite/kv_moon_w.png') no-repeat 0 0;
}

.test-sprite-moon-2x { 
  background: resolve('sprite/kv_moon_w@2x.png') no-repeat 0 0;
}



